<body>
  <!-- <nav-bar></nav-bar> -->
  <div class="flex mx-auto bg-background relative min-h-screen">
 <!-- <app-sidebar></app-sidebar> -->

    <div class="mx-auto mt-10 items-center flex flex-col w-full">
      <div
  class="progress-bar w-[512px] h-4 bg-[#2c2b2e] rounded-full overflow-hidden mb-5"
>
  <div
    class="h-full transition-all duration-300"
    [style.width.%]="((currentStep + 1) / steps.length) * 100"
    style="background-color: #8e3be0"
  ></div>
</div>


      <!-- Step Content -->
      <ng-container [ngSwitch]="currentStep">
        <div *ngSwitchCase="0"><app-campaign></app-campaign></div>
        <div *ngSwitchCase="1"><app-competitor-ads></app-competitor-ads></div>
        <div *ngSwitchCase="2"><app-flux-page></app-flux-page></div>
        <div *ngSwitchCase="3"><app-caption-page></app-caption-page></div>
        <div *ngSwitchCase="4"><app-budget></app-budget></div>
        <div *ngSwitchCase="5"><app-trends></app-trends></div>
        <div *ngSwitchCase="0">
          <app-campaign></app-campaign>
        </div>
      
        <div *ngSwitchCase="1">
          <app-choose (optionSelected)="handleOptionSelection($event)"></app-choose>
        </div>
      
        <div *ngSwitchCase="2">
          <ng-container *ngIf="selectedOption === 'textPrompt'">
            <app-flux-page></app-flux-page>
          </ng-container>
        
          <ng-container *ngIf="selectedOption === 'uploadPhoto'">
            <ng-container *ngIf="!isProductAdCustomPage">
              <app-productad-page (continueEvent)="handleContinue()"></app-productad-page>
            </ng-container>
            <ng-container *ngIf="isProductAdCustomPage">
              <app-productadcustom-page></app-productadcustom-page>
            </ng-container>
          </ng-container>
        </div>
        
      
        <div *ngSwitchCase="3">
          <app-caption-page></app-caption-page>
        </div>
      
        <div *ngSwitchCase="4">
          <app-budget></app-budget>
        </div>
      
        <div *ngSwitchCase="5">
          <app-trends></app-trends>
        
        </div>
      </ng-container>
      

<!-- Buttons -->
<div
  class="absolute top-1/2 left-0 transform -translate-y-1/2 flex justify-between w-full px-10"
>
  <!-- Back Button -->
  <button
    class="transition transform hover:scale-110"
    (click)="prevStep()"
    [disabled]="currentStep === 0"
    aria-label="Back"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none"
      viewBox="0 0 24 24" stroke="#8e3be0" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
    </svg>
  </button>

  <!-- Next Button -->
  <button
    class="transition transform hover:scale-110"
    *ngIf="currentStep < steps.length - 1"
    (click)="nextStep()"
    aria-label="Next"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none"
      viewBox="0 0 24 24" stroke="#8e3be0" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
    </svg>
  </button>

  <!-- Finish Button -->
  <button
    class="transition transform hover:scale-110"
    *ngIf="currentStep === steps.length - 1"
    (click)="finish()"
    aria-label="Finish"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none"
      viewBox="0 0 24 24" stroke="#8e3be0" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
  </button>
</div>



    </div>
  </div>
</body>
