/* Button Styling for Elongated Oval Shape with Outline */
a.bg-accent {
    display: inline-flex;       
    align-items: center;        
    justify-content: center;    
    padding: 12px 50px;       
    border-radius: 50px;       
    background-color: transparent;  
    color: var(--primary);      
    border: 2px solid var(--primary); 
    font-size: 16px;           
    text-transform: uppercase;   
    font-weight: bold;           
    transition: all 0.3s ease;  
}

a.bg-accent:hover {
    background-color: var(--primary); 
    color: white;   
    border-color: var(--primary); 
}

/* Carousel container to make it horizontally scrollable */
.carousel-container {
    display: flex;
    overflow-x: auto;  
    gap: 20px;
    padding: 20px 0;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 50px;  
    pointer-events: none;
}

.carousel-container::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome, Safari and Opera */
}

.carousel-container {
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Each card */
.carousel-card {
    flex: 0 0 auto; 
    width: 350px;  
    height: 400px;  
    background-color: var(--background); 
    border-radius: 20px;  
    border: 2px solid var(--primary); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text);  
    padding: 20px;
    pointer-events: all;
}

.card-content {
    font-size: 16px;
}
