<div class="moving-gradient-page">
  <section class="section_top">
    <div class="section_background-wrap">
      <canvas
        id="gradient-canvas"
        data-js-darken-top
        data-transition-in
      ></canvas>
    </div>

    <app-navbar></app-navbar>
    <div class="gradient-area">
      <div class="gradient-title-area left-text">
        <div data-aos="zoom-in" data-aos-duration="2000">
          <p class="small-heading">AI-powered tool for smarter, faster ad creation and optimization</p>
        </div>

        <div data-aos="zoom-in" data-aos-duration="2100">
          <h1 class="text text-above section-title-1">
            <span class="headline-line">Empowering businesses through </span>
            <span class="headline-line">intelligent, data-driven </span>
            <span class="headline-line">ad campaigns</span>
          </h1>
          <div>
          </div>
        </div>

        <div data-aos="zoom-in" data-aos-duration="2400" data-aos-delay="200">
          <a href="login" class="cta-button">
            Create Now
            <span class="arrow-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="content-section insight-section">
    <div class="container">
      <h2 class="text section-title-1">Where <b>Insights</b> Meet <b>Impact</b></h2>
      <p>AdVisory is an AI-driven social media management and advertising solution built to empower brands with smarter, data-backed decisions. By combining cutting-edge generative AI, real-time analytics, and strategic campaign automation, we help ambitious businesses craft impactful ads, optimize performance, and connect meaningfully with their audiences—turning every campaign into measurable success.</p>
    </div>
  </section>
  
  <app-footer></app-footer>
</div>