<div
  class="bg-gray-900 h-screen relative flex flex-col justify-between transition-all duration-300 ease-in-out border-r border-gray-800"
  [ngClass]="{'w-60': isExpanded, 'w-16': !isExpanded}"
  (mouseenter)="handleMouseEnter()"
  (mouseleave)="handleMouseLeave()"
>
  <button
    class="absolute -right-3 top-6 bg-indigo-600 rounded-full p-1 shadow-lg z-10 hover:bg-indigo-700 transition-colors"
    (click)="toggleSidebar()"
  >
    <lucide-icon
      [ngClass]="{'h-4 w-4 text-white': true}"
      [name]="isExpanded ? 'arrow-left' : 'arrow-right'"
    ></lucide-icon>
  </button>

  <div class="flex-1 px-2">
    <ng-container *ngFor="let item of navItems">
      <a
        [routerLink]="item.link"
        class="flex items-center text-gray-300 hover:bg-gray-800 rounded-md px-3 py-3 my-1 transition-all duration-150 group"
      >
        <div class="text-gray-400 group-hover:text-indigo-400 transition-colors">
          <lucide-icon
            [name]="item.icon"
            [ngClass]="{'h-5 w-5': isExpanded, 'h-6 w-6': !isExpanded}"
          ></lucide-icon>
        </div>
        <span
          class="ml-3 text-sm font-medium transition-opacity duration-200 whitespace-nowrap"
          [ngClass]="{'opacity-0 w-0 hidden': !isExpanded}"
          >{{ item.label }}</span
        >
      </a>
    </ng-container>
  </div>

  <div class="p-3 border-t border-gray-800 mt-2">
    <a
      [routerLink]="'/login'"
      class="flex items-center text-gray-400 hover:bg-gray-800 rounded-md px-3 py-3 transition-all duration-150 group"
    >
      <lucide-icon
        [name]="'log-out'"
        class="group-hover:text-red-400 transition-colors"
        [ngClass]="{'h-5 w-5': isExpanded, 'h-6 w-6': !isExpanded}"
      ></lucide-icon>
      <span
        class="ml-3 text-sm font-medium transition-opacity duration-200"
        [ngClass]="{'opacity-0 w-0 hidden': !isExpanded}"
        >Log Out</span
      >
    </a>
  </div>
</div>
