<div
  class="bg-background border-r border-gray-800 transition-all duration-300 flex flex-col justify-between"
  [class.w-64]="isSidebarExpanded"
  [class.w-20]="!isSidebarExpanded"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'h-screen': true,
    'overflow-hidden': true
  }"
>
  <!-- 🔘 Top: Toggle Button (Only visible when expanded) -->
  <div class="flex justify-end mb-4" *ngIf="isSidebarExpanded">
    <button
      (click)="toggleSidebarLock()"
      class="text-white p-1 hover:bg-gray-700 rounded-full"
    >
      <lucide-icon [img]="isSidebarLocked ? X : Circle" class="h-4 w-4"></lucide-icon>
    </button>
  </div>

  <!-- 📂 Navigation Items -->
  <div class="flex-1">
    <ng-container *ngFor="let item of navItems">
      <a
        [href]="item.link"
        class="flex items-center text-white hover:text-gray-300 px-4 py-2"
      >
        <lucide-icon [img]="item.icon" class="h-5 w-6 mr-4"></lucide-icon>
        <span
          class="text-[15.5px] transition-opacity duration-200 whitespace-nowrap"
          [class.opacity-0]="!isSidebarExpanded"
          [class.w-0]="!isSidebarExpanded"
          [class.hidden]="!isSidebarExpanded"
        >
          {{ item.label }}
        </span>
      </a>
    </ng-container>

    <!-- Divider -->
    <hr class="border-t border-gray-700 my-6" />
  </div>

  <!-- 🔒 Bottom: Log Out -->
  <div class="mb-4 px-4">
    <a
      href="/login"
      class="flex items-center text-white hover:text-gray-300"
    >
      <lucide-icon [img]="Logout" class="h-5 w-6 mr-4"></lucide-icon>
      <span
        class="text-[15.5px] transition-opacity duration-200"
        [class.opacity-0]="!isSidebarExpanded"
        [class.w-0]="!isSidebarExpanded"
        [class.hidden]="!isSidebarExpanded"
      >
        Log Out
      </span>
    </a>
  </div>
</div>
