<!-- src/app/components/services/services.component.html -->
<div class="px-16 mt-16">
    <h2 class="font-bold text-3xl text-white">
      Our Services
    </h2>
    
    <div class="grid grid-cols-2 gap-6 mt-8">
      <app-service-card 
        *ngFor="let service of services"
        [title]="service.title"
        [subtitle]="service.subtitle"
        [description]="service.description"
        [iconPath]="service.iconPath"
        [link]="service.link"
        [routerLinkActive]="service.routerLinkActive">
      </app-service-card>
    </div>
  </div>