.tabs {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .tab {
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
  }
  
  .tab.active {
    background-color: #3b82f6;
    color: white;
  }
  .relative.mt-4.border.p-4.rounded-lg {
    background-color: transparent !important;
}
